@import url(http://fonts.googleapis.com/css?family=Slabo+13px);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,700,400&subset=latin,cyrillic);
/*
Main: purpur "933157", darker "6E1236", darkest "49001C", lighter "B85C80", lightest "DC93AF"
First Additional: brown "AA5139", darker "802B15", darkest "551200", lighter "D4806A", lightest "FFBCAA"
Second Additional: cyan "28794B", darker "0F5B30", darkest "003D1B", lighter "4C986D", lightest "79B694"
The last one: grassy "6C9A33", darker "477413", darkest "294D00", lighter "94C160", lightest "C4E79A"
*/

* {
	margin:0;
	transition: 0.5s ease all;
}

body {
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-weight: 400;
	background: rgb(245,245,245);
}

h1, h2, h3, button, span {
	font-family: 'Slabo 13px', Helvetica, sans-serif;
}

.mid {
	padding-top: 5%;
	padding-left: 1%;
}

.menu {
	list-style-type: none;
	text-align: left;
}

.menu li {
	display: inline;
}

.threadlist {
	width: 90%;
	margin: auto;
	list-style-type: none;
	text-align: left;
}

.threadlist li {
	display: inline;
}

.threadlist h2 {
	font-size: 16pt;
}

.threadlist h3 {
	font-size: 12pt;
	font-weight: 400;
}

.threadlist div {
	width:21%;
	height:21vw;    
	margin:0.5%;
	float:left; 
	background-position: center;
	padding: 1%;
	display: inline-block;
}

[back="dark"] {
	background: url("sample_dark_back.png");
	color: rgb(250,250,250);
}

[back="light"] {
	background: url("sample_light_back.png");
	color: rgb(40,40,40);
}

.header {
	padding: 1em;
	font-size: 16pt;
	text-align: center;
	color: rgb(250,250,250);
	background: #933157;
	border-bottom: solid 0.5em #6E1236;
}

.header h1 {
	font-size: 36pt;
}

.header h2 {
	font-size: 16pt;
	font-weight: 400;
}

.header span {
	padding-left: 1em;
	vertical-align: middle;
}

.header button {
	background: rgba(0,0,0,0);
	border-style: solid;
	border: 0.1em 0.1em rgb(250,250,250);
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	padding-left: 0.8em;
	padding-right: 0.8em;
	color: rgb(250,250,250);
	font-weight: 700;
	font-size: 12pt;
}

.header button:hover {
	opacity: 0.6;
}
